<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
    <title>Homepage</title>
</head>
<body>
    <%- include('./partials/nav.ejs') %>
    <div class = 'conatiner mt-3' style="margin-left: 50px;">
    <% if (locals.blogs) { %>
      <div class = "row row-cols-4">
      <% blogs.forEach(blog => { %>
        <div class="card mt-2 ms-5" style="width: 18rem;">
            <img src="<%= blog.coverImage %>" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><%= blog.title  %></h5>

              <a href="/blog/<%= blog._id %>" class="btn btn-primary">view</a>
            </div>
          </div>       
      <% }) %>  
    </div>
    <% } %>  
    </div>
    <%- include('./partials/script.ejs') %>
</body>
</html>